# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
#4622
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [ ]:
# Solution 2 
len(chipo)

4622

In [ ]:
# Solution 3
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [ ]:
# Solution 4
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

In [ ]:
len(chipo.iloc[0])

5

In [ ]:
print(len(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN     $2.39
1         1         1  ...       [Clementine]     $3.39

[2 rows x 5 columns]

In [ ]:
chipo.groupby("item_name")["quantity"].sum()[:5]

item_name
6 Pack Soft Drink        55
Barbacoa Bowl            66
Barbacoa Burrito         91
Barbacoa Crispy Tacos    12
Barbacoa Salad Bowl      10
Name: quantity, dtype: int64

In [ ]:
chipo.groupby("item_name")["quantity"].sum().idxmax(axis=0)

'Chicken Bowl'

In [ ]:
chipo.groupby("item_name")["quantity"].sum()["Chicken Bowl"]

761

In [ ]:
chipo.groupby("item_name")["quantity"].sum().max()

761

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo.groupby("item_name")["quantity"].sum()["Chicken Bowl"]

761

In [ ]:
c = chipo.groupby("item_name")
c = c.sum()
c = c.sort_values(["quantity"], ascending= False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN     $2.39
1         1         1  ...       [Clementine]     $3.39

[2 rows x 5 columns]

In [ ]:
chipo.groupby("choice_description").quantity.sum().idxmax(axis =0)

'[Diet Coke]'

In [ ]:
c = chipo.groupby("choice_description").sum()
c = c.sort_values(["quantity"], ascending = False)
c.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

In [ ]:
chipo.groupby("choice_description").quantity.sum().idxmax(axis =0)

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [ ]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

In [ ]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN     $2.39
1         1         1  ...       [Clementine]     $3.39

[2 rows x 5 columns]

In [ ]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
chipo["item_price"] = chipo["item_price"].str.replace('$', '')
chipo["item_price"][0:2]

0    2.39
1    3.39
Name: item_price, dtype: object

In [ ]:
chipo["item_price"].astype("float")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
chipo["item_price"] = chipo["item_price"].astype("float")
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.a. Check the item price type

In [ ]:
chipo["item_price"].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN       2.39
1         1         1  ...       [Clementine]       3.39

[2 rows x 5 columns]

In [ ]:
revenue = np.sum(chipo.item_price * chipo.quantity)
revenue

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
chipo.order_id.unique()

array([   1,    2,    3, ..., 1832, 1833, 1834])

In [ ]:
unique_orders = chipo.order_id.nunique()
unique_orders

1834

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
round(revenue / unique_orders, 2)

21.39

In [ ]:
# Solution 2
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]
order_grouped = chipo.groupby(by=["order_id"]).sum()
order_grouped.mean()["revenue"]

21.394231188658654

### Step 17. How many different items are sold?

In [ ]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN       2.39
1         1         1  ...       [Clementine]       3.39

[2 rows x 5 columns]

In [ ]:
chipo.item_name.nunique()

50